body{
    background-image: url(../images/background-image.jpg);
    color: azure;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Reactor7'
    
    
}
@font-face{
    font-family: "Reactor7";
    src: url(/assets/css/fonts/Reactor7.woff);
    font-size: 20px;
}
.main-title{
    font-size: 55px;
    color: rgb(70, 247, 247);
    font-family: 'Reactor7'
    
}
.title{
    font-size: 45px;
    color: rgb(105, 241, 241);
    
}
.character{
  display: inline-block;
  height: 150px;
  width: 179px;
  cursor: pointer ;
  border: beige solid 1px;
  
}
.character-image{
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.character-name{
    text-align: center;
    font-family: 'Reactor7', sans-serif;
    font-size: 20px;
}
.character-health{
    text-align: center;
    color:rgb(8, 8, 8);
    font-family: 'Reactor7', sans-serif;
    font-size: 20px;
}
img{
    height: 100px;
    
}
