body{
    background-image: url(../images/background-image.jpg);
    color: azure;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
.main-title{
    font-size: 55px;
    color: azure;
    font-family: 'Ubuntu', sans-serif;
}
.title{
    font-size: 45px;
    color: azure;
    font-family: 'Ubuntu', sans-serif;
}
.characters{
    display: inline;
  height: 150px;
  width: 179px;
  align-content: center;
  border: beige solid;
  
}
.tifaChar{
    display: inline;
    width: 86px;
    height: 150px;
    align-content: center;
    border: beige solid;   
}
.section-title{
    color: azure;
    font-size: xx-large;
    font-family: 'Ubuntu', sans-serif;
    
}
.section-title-fight{
    color: azure;
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.section-title-enemy{
    text-align: center;
    color: azure;
    font-size: 45px;
    margin-top: 25px;
}
#attack-button{
    position: absolute;
    left: 48.5%;
}

